# Python / Flask garbage
__pycache__/
*.pyc
venv/
.venv/
env/
.env

# Ignore local database files
*.database
*.sqlite
*.sqlite3

# MacOS garbage
.DS_Store

# SECURITY: Do not upload your personal settings!
config/settings.json
settings.json
instance/

# Cache Files
config/library_cache_*.json

.vscode/
.idea/
docker-compose.override.yml
docker-compose.dev.yml